<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.j2mainapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.J2MainApp">
        <activity android:name=".CouponList"></activity>
        <activity android:name=".ShopListWrite" />
        <activity android:name=".InputShopInformation" />
        <activity android:name=".ShopTop" />
        <activity android:name=".Sample" />
        <activity android:name=".ShopDetail" />
        <activity android:name=".ShopList" />
        <activity android:name=".Sorry" />
        <activity android:name=".OrderTime" />
        <activity android:name=".OrderFinish" />
        <activity android:name=".InputOrderDetail" />
        <activity android:name=".InputOrder" />
        <activity android:name=".InputReceiveInformation" />
        <activity android:name=".ReceiveBoard" />
        <activity android:name=".Do" />
        <activity android:name=".RequestConfirm" />
        <activity android:name=".Coupon" />
        <activity android:name=".FinishPoint" />
        <activity android:name=".OrderReceive" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Top">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>